#cabecalho {
          background-color:blue;
}
          
#menu {
          background-color:red;
}
          
#principal {
          background-color:pink;
}
          
#rodape {
          background-color:green;
}