.noticias {
    border: 3pt dashed;
    border-color: red purple peru palevioletred;
    width: 20%;
    height: 500pt;
    padding: 20pt;
    margin: 1cm;
    float: left;
    color:chartreuse;
}

.imagem {
    margin: 10pt;
    float: right;
}

.noticias {
    background-image: url(https://cdn.awsli.com.br/2500x2500/1946/1946743/produto/178751940/737bfd0ed1.jpg);
    background-size: 100pt 50pt;
}

main {
    background-color: burlywood;
}

p {
    text-indent: 10%;
}

h1 {
    color:gold;
    border: 13pt double;
    border-color: red;
    border-radius: 6.5pt;
    margin: 30pt;
    text-align: center;
}

.limpar {
    clear: both;
}

header {
    height: 45%;
    background-color: aqua;
    background-image: url(https://sitecontent.kumon.com.br/sitestg/kumon-website-pt/img/logo-black-kumon.png);
    background-size: 100%;
}

footer {
    background-image: url(https://i.ytimg.com/vi/Vdbb0rQ6C1I/maxresdefault.jpg);
    height: 45%;
}